[versions]
managed-lettuce = "6.2.4.RELEASE"

micronaut-docs = "2.0.0"
micronaut = "4.0.0-M1"
micronaut-test = "4.0.0-M1"
micronaut-cache = "4.0.0-M1"
micronaut-micrometer = "5.0.0-M1"
micronaut-serde = "2.0.0-M1"
micronaut-session = "4.0.0-M1"
micronaut-gradle-plugin = "4.0.0-M1"

redis-embedded = "0.6"

groovy = "4.0.10"
spock = "2.3-groovy-4.0"

testcontainers = "1.18.0"

[libraries]
managed-lettuce = { module = "io.lettuce:lettuce-core", version.ref = "managed-lettuce" }

micronaut-cache = { module = "io.micronaut.cache:micronaut-cache-bom", version.ref = "micronaut-cache" }
micronaut-micrometer = { module = "io.micronaut.micrometer:micronaut-micrometer-bom", version.ref = "micronaut-micrometer" }
micronaut-serde = { module = "io.micronaut.serde:micronaut-serde-bom", version.ref = "micronaut-serde" }
micronaut-session = { module = "io.micronaut.session:micronaut-session-bom", version.ref = "micronaut-session" }

redis-embedded = { module = "com.github.kstyrc:embedded-redis", version.ref = "redis-embedded" }

testcontainers-bom = { module = "org.testcontainers:testcontainers-bom", version.ref = "testcontainers" }
testcontainers-spock = { module = "org.testcontainers:spock" }
gradle-micronaut = { module = "io.micronaut.gradle:micronaut-gradle-plugin", version.ref = "micronaut-gradle-plugin" }